Package: snapraid-runner
Version: {{version}}
Section: extras
Priority: standard
Architecture: all
Depends: snapraid, python3
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Installed-Size: {{size}}
Description: Automate SnapRAID sync
